
.f-link{
  text-decoration: none;
  color: #00000094;
}
.f-link:hover{
  color: #387ed1;
}
.btn-hover:hover{
  background-color: black !important;
}
.nav-link{
  margin-left: 30px;
}
.f-blue{
  color: #0073ff;
}
.f-last{
  text-align: center;
  padding-bottom: 20px;
  font-weight: 500;
  font-size: 0.8rem;
}
.f-2{
  padding: 12PX;
  color: #2424247d;
}
@media (max-width: 768px) {
.resp-image{
    width: 100% !important;
}
.supportdiv{
  padding: 0 !important;
}
}