.form_container{
    width: 30%;
    height: 50%;
    background-color:aliceblue;
    border-radius: 10px;
    margin: auto;
    padding: 30px;
    margin-top: 50px;
    margin-bottom: 50px;
}
form div{
    height: 50%;
    padding-top: 30px;
     text-align: start;
}
